/* Variable styles */
:root {
    --primary-font:'Inter';
    --weight-400:400;
    --background-color:#F1F1F1;
    --primary-text-color: #FFF;
    --shadow: rgba(0, 0, 0, 0.50);
    --font-size-sm:16px;
    --font-size-md:20px;
    --font-size-xmd:24px;
    --font-size-lg:32px;
    --font-size-xlg:40px;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}
/* Header styling */
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 48px;
    align-items: center;
}
.mid-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

  h3 {
    color: white;
    opacity: 50%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
    line-height: 140%;
  }
  
  h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
  }

.logo {
    opacity: 0;
    font-size: 16px;
    font-weight: 600;
}

.menu {
    font-size: 16px;
    opacity: 70%;
    cursor: pointer;
    align-items: center;
    text-align: center;
    line-height: 140%;
}

.menu:hover {
    opacity: 100%;
}

.active {
    opacity: 100%;
    font-weight: 500;
    line-height: 140%;
}

.link {
    transition: opacity 0.3s ease;
    cursor: pointer;
    line-height: 140%;
}

.link:hover {
    opacity: 100%;
}

.about {
    padding: 6px 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 200px;
}
.page-wrapper {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes the full height of the viewport */
    width: 100%;
    overflow: hidden;
}
h5 {
    font-family: var(--primary-font);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6); /* Initial text color */
    transition: color 0.3s ease; /* Smooth color transition */
}
.cv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    opacity: 0;
    transform: translateY(24px);
}
.occupation {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 400px;
    max-width: 400px;
}
h6 {
    font-family: var(--primary-font);
    font-size: var(--font-size-sm);
    font-weight: 500;
    letter-spacing: -0.5px;
    color: white;
}
p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: -0.5px;
}
.cv-wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

a {
    text-decoration-line: none;
}


.contact {
    position: relative;
    padding: 6px 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.tooltip {
    position: absolute;
    top: 0px; /* Start hidden behind the button */
    left: 38%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.50);
    padding: 12px 10px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.contact:hover{
    border-radius: 200px;
}

.contact:hover .tooltip {
    opacity: 1;
    top: 48px; /* Slide down to 16px below the button */
}

.tooltip.clicked {
    color: rgba(52, 246, 60, 1);
    opacity: 1;
    left: 28%;
    top: 48px;
}

.tooltip.clicked svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.tooltip.clicked::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.repeat {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.repeat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 200px;
    position: relative; /* Ensure the tooltip is positioned correctly */
    transition: opacity 0.3s ease;
}

.repeat-container:hover {
    opacity: 0.8; /* Increase the opacity on hover */
}

.rotate {
    transition: opacity 0.3s ease;
}

.repeat-container:hover .rotate {
    opacity: 1; /* Increase the SVG opacity to 100% on hover */
}

.tooltip {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%) translateY(12px); /* Start 12px below the final position */
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.50);
    padding: 12px 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.repeat-container:hover .tooltip {
    transform: translateX(-50%) translateY(0); /* Move to final position */
    opacity: 1; /* Make the tooltip visible */
}

footer {
    bottom: 0;
    position: fixed;
    padding: 24px 72px;
}

.footer-txt {
    font-size: 12px;
    font-weight: 400;
    opacity: 20%;
}